<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pet Market</title>
    <!--Se enlaza este documento con el estilo proveniente del Bootstrap y recibe todo ese estilo indicado a continuación  (lineas 8 a la 13)-->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous"
    />
    <!--Se agrega para enlazar este documento con el archivo css y recibir todo el estilo insertado en ese archivo style.css contenido en la carpeta css -->
    <link rel="stylesheet" href="css/style.css"/>
</head>


<body>
<!--mt-3 es la dist entre el borde del navbar y las cards o imagenes, con 4 quedan + separadas. Esto se debe colocar en el contenedor de todos los card. mt-3 es el estilo traido del B y tv-destacados es el estilo q creamos en local-->
<div>error</div>
<script>
</script>
</body>
</html>